h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #3d2121;
}

@media screen and (max-width: 991px) {
    .last-section {
        padding: 0 !important;
    }

    .extra-hide {
        display: none !important;
    }

    .know-more {
        margin: 0 !important;
    }

    .buy-now {
        margin: 0 !important;
    }

    .vertical-line {
        display: none;
    }
}

.btn.btn-primary {
    background: rgba(54, 25, 19, 255);
    border: 1px solid rgba(54, 25, 19, 255);
    color: #fff;
    border-radius: 15px;
}

.btn.btn-primary:hover {
    background: rgba(54, 25, 19, 255);
    border: 1px solid rgba(54, 25, 19, 255);
    color: #fff;
}

.fa-star {
    color: rgba(254, 194, 0, 255) !important;
}

/* RESET STYLES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

    --black: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
}



.rectangle {
    position: relative;
    padding: 20px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); */
}


/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
    width: 50%;
    margin: 0 auto 40px;
    /* background: var(--level-1); */
}

.level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}


/* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: var(--black);
}

.level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
}

.level-2-wrapper li {
    position: relative;
}

.level-2-wrapper>li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2 {
    width: 70%;
    margin: 0 auto 40px;
    /* background: var(--level-2); */
}

.level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
}


/* LEVEL-3 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
}

.level-3-wrapper>li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-3 {
    margin-bottom: 20px;
    /* background: var(--level-3); */
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 700px) {
    .rectangle {
        padding: 20px 10px;
    }

    .level-1,
    .level-2 {
        width: 100%;
    }

    .level-1 {
        margin-bottom: 20px;
    }

    .level-1::before,
    .level-2-wrapper>li::before {
        display: none;
    }

    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
        display: block;
    }

    .level-2-wrapper {
        width: 90%;
        margin-left: 10%;
    }

    .level-2-wrapper::before {
        left: -20px;
        width: 2px;
        height: calc(100% + 40px);
    }

    .level-2-wrapper>li:not(:first-child) {
        margin-top: 50px;
    }
}

.progress-bar {
    width: 100%;
    height: 7px;
    border-radius: 20px;
    background-color: rgba(175, 175, 175, 255);
}

.progress-bar.active {
    background-color: rgba(253, 193, 0, 255) !important;
}

.review-1,
.review-2,
.review-3 {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(243, 243, 243, 255);
    padding: 10px;
}

.vertical-line {
    border-left: 3px solid rgba(246, 246, 246, 255);
    height: 320px;
    margin: 25px;
}

@media screen and (max-width: 1199px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 3.5em !important;
    }

    .play-btn-1 {
        bottom: 12px !important;
    }
}

@media screen and (max-width: 991px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 8.5em !important;
    }

    .play-btn-1 {
        bottom: 40px !important;
        right: 65px !important;
    }

    #myVideo {
        height: 29.734em !important;
    }

    .puppies-main-img {
        height: 30em !important;
    }
}

@media screen and (max-width: 767px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 6.5em !important;
    }

    .play-btn-1 {
        bottom: 40px !important;
        right: 55px !important;
    }

    #myVideo {
        height: 29.82em !important;
    }

}

@media screen and (max-width: 514px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 5.5em !important;
    }

    .play-btn-1 {
        bottom: 30px !important;
        right: 45px !important;
    }

}

@media screen and (max-width: 575px) {

    .puppies-video {
        left: 475px !important;
        bottom: 33px !important;
    }
}

@media screen and (max-width: 437px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 4.5em !important;
    }

    .play-btn-1 {
        bottom: 25px !important;
        right: 40px !important;
    }

}

@media screen and (max-width: 367px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 3.5em !important;
    }

    .puppies-main-img {
        height: 20em !important;
    }

    .play-btn-1 {
        bottom: 15px !important;
        right: 30px !important;
    }

}

@media screen and (max-width: 294px) {

    .puppies-img,
    .puppies-videos-section {
        width: auto !important;
        height: 2.5em !important;
    }

    .play-btn-1 {
        bottom: 5px !important;
        right: 25px !important;
    }

}

.puppies-main-img {
    height: 20em;
    width: auto;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.puppies-img {
    height: 5em;
    width: 6em;
    cursor: pointer;
}

.play-btn-1 {
    position: absolute;
    right: 35px;
    bottom: 25px;
    cursor: pointer;
}

.puppies-videos-section {
    height: 5em;
    width: 6em;
    cursor: pointer;
}

.know-more-btn {
    background-color: rgba(109, 103, 103, 255) !important;
    border: rgba(109, 103, 103, 255) !important;
}

.about-card {
    border-radius: 20px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border: none !important;
    width: 100%;
    height: 50%;
}

.padigree-text {
    margin: 0;
    font-size: 14px;
}

.padigree-img {
    width: 3em;
    height: 3em;
    box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

.reviews-card {
    border-radius: 20px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border: none !important;
}