@media (max-width:767px) {
    #content-head-mobile {
        display: flex !important;
    }

    .left-word {
        visibility: hidden;
        font-size: 1px;
    }

    .container .card .left-side {
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 0 !important;
    }

    .container .card .left-side::before {
        border-radius: 20px 20px 0 0;

    }

    .progress-bar li {
        position: relative;
        margin-left: 0px;
        margin-top: 25px;
        counter-increment: container 1;
        color: #fff;

    }

    .profileDiv {
        display: none !important;
    }

    .form {
        flex-direction: column;
    }

    .progress-bar li:last-child:after {
        display: none;
    }

    .progress-bar li:first-child:after {
        display: block;
    }

    .progress-bar {
        flex-direction: row;
        /* font-size: 5px; */
        padding: 0px !important;
        justify-content: space-evenly;
    }

    .progress-bar li::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 980%;
        background-color: rgba(54, 25, 19, 255);
        z-index: 1;
        left: 20px;
        top: -10px;
    }

    .progress-bar li::before {
        content: '';
        line-height: 25px;
        text-align: center;
        position: absolute;
        height: 20px;
        width: 20px;
        border: 1px solid #4f6581;
        border-radius: 50%;
        left: 0px;
        top: -20px;
        z-index: 10;
        background-color: rgba(54, 25, 19, 255);
    }

    .btnDiv {
        border-radius: 0px 0px 21px 21px !important;
        width: auto !important;
    }

    #btnDiv1 {
        width: auto !important;
    }

    .container {
        height: scroll;


    }

    .container .card {
        max-width: 350px;
        height: auto !important;
        margin: 30px 0;
    }

    .container .card .right-side {
        width: 100%;

    }

    .input-text {
        display: block;
    }

    .input-text .input-div {
        margin-top: 20px;

    }

    /* .container .card .left-side {

        display: none;
    } */
}

.hr-line {
    background-color: grey;
    height: 1px;
    width: autro;
}

#btnDiv1 {
    margin-right: -40px;
    margin-left: -40px;
    margin-bottom: -40px;
    background-color: rgba(231, 231, 231, 255);
    padding: 10px;
    border-radius: 0px 0px 21px;
    width: 112.6%;
}


